.duet-date__input {
  border: 1px solid rgb(209 213 219) !important ;
}
.error-message {
  color: red;
}
.dragging {
  opacity: 0.5;
}

.dragging-background {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: #7187b9 !important;
 
}
