<section class="container mx-auto bg-white dark:bg-gray-900 mb-10">
  <div class="py-10">
    <div
      class="pb-6 border-b text-xl font-bold text-left leading-6 text-primary-blue uppercase lg:px-0 px-6"
    >
      Apply for Loan
    </div>

    <form [formGroup]="loanForm" (ngSubmit)="onSubmit()">
      <div class="flex mt-4 mb-4 px">
        <button
          type="button"
          (click)="focusPrevious()"
          class="bg-gray-500 text-white px-4 py-2 rounded"
        >
          Previous
        </button>
        <button
          type="button"
          (click)="focusNext()"
          class="bg-green-500 text-white px-4 py-2 rounded"
        >
          Next
        </button>
      </div>

      <div formArrayName="applicants">
        <h2 class="font-bold text-left leading-4 text-primary-blue mt-4 px-4">
          Contact Information
        </h2>
        <div
          #stepperContainer
          *ngFor="let applicant of applicants.controls; let i = index"
          [formGroupName]="i"
          class="p-4"
        >
          <div class="flex flex-wrap -mx-2">
            <div
              *ngFor="let field of applicantFields"
              [ngSwitch]="field.type"
              [ngClass]="field.class"
              class="mb-4"
            >
              <div *ngIf="field.type !== 'radio' && field.type !== 'checkbox'">
                <label
                  class="text-sm font-medium leading-none text-gray-800 mb-2"
                >
                  {{ field.label }}
                </label>
                <ng-container [ngSwitch]="field.type">
                  <input
                    *ngSwitchCase="'text'"
                    [formControlName]="field.name"
                    [type]="field.type"
                    [placeholder]="field.placeholder"
                    class="border p-2 rounded w-full"
                    #fieldInput
                    [attr.data-index]="i"
                  />
                  <input
                    *ngSwitchCase="'number'"
                    [formControlName]="field.name"
                    [type]="field.type"
                    [placeholder]="field.placeholder"
                    class="border p-2 rounded w-full"
                    #fieldInput
                    [attr.data-index]="i"
                  />
                  <input
                    *ngSwitchCase="'email'"
                    [formControlName]="field.name"
                    [type]="field.type"
                    [placeholder]="field.placeholder"
                    class="border p-2 rounded w-full"
                    #fieldInput
                    [attr.data-index]="i"
                  />
                  <textarea
                    *ngSwitchCase="'textarea'"
                    [formControlName]="field.name"
                    [placeholder]="field.placeholder"
                    class="border p-2 rounded w-full"
                    rows="4"
                    #fieldInput
                    [attr.data-index]="i"
                  ></textarea>
                  <select
                    *ngSwitchCase="'select'"
                    [formControlName]="field.name"
                    class="border p-2 rounded w-full"
                    #fieldInput
                    [attr.data-index]="i"
                  >
                    <option value="" disabled selected>
                      {{ field.placeholder }}
                    </option>
                    <option
                      *ngFor="let option of getFieldOptions(field)"
                      [value]="option"
                    >
                      {{ option }}
                    </option>
                  </select>
                </ng-container>
                <div
                  *ngIf="
                    applicant.get(field.name)?.invalid &&
                    applicant.get(field.name)?.touched
                  "
                  class="text-red-500 text-sm mt-1"
                >
                  {{ field.label }} is required
                </div>
              </div>
              <div
                *ngSwitchCase="'radio'"
                class="flex items-center space-x-4 mt-2"
              >
                <div *ngFor="let option of getFieldOptions(field)">
                  <label class="inline-flex items-center">
                    <input
                      type="radio"
                      [formControlName]="field.name"
                      [value]="option"
                      class="form-radio"
                      #fieldInput
                      [attr.data-index]="i"
                    />
                    <span class="ml-2">{{ option }}</span>
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="mb-2 flex items-center">
        <input
          type="checkbox"
          formControlName="acceptTerms"
          id="acceptTerms"
          class="form-checkbox"
        />
        <label for="acceptTerms" class="ml-2 text-sm text-gray-800">
          I confirm that all information provided is correct.
        </label>

        <div
          *ngIf="
            loanForm.get('acceptTerms')?.invalid &&
            loanForm.get('acceptTerms')?.touched
          "
          class="text-red-500 text-sm mt-1"
        >
          You must accept the terms and conditions.
        </div>
      </div>

      <div class="flex justify-start mt-4">
        <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded">
          Submit
        </button>
      </div>
    </form>
  </div>
</section>



