<section class="container mx-auto bg-white dark:bg-gray-900 mb-10">
  <div class="py-10">
    <div
      class="pb-6 border-b text-xl font-bold text-left leading-6 text-primary-blue uppercase lg:px-0 px-6"
    >
      Apply for Loan
    </div>

    <!-- Stepper Header -->
    <div class=" p-3">
      <ol
        class="flex items-center w-full text-sm font-medium text-center text-gray-500 dark:text-gray-400 sm:text-base  mb-4"
      >
        <li
          *ngFor="let step of steps; let i = index"
          [ngClass]="{
            'text-blue-600 dark:text-blue-500': i === currentStep,
            'text-green-500 dark:text-green-400': i < currentStep,
            'text-gray-500 dark:text-gray-400': i > currentStep
          }"
          class="flex md:w-full items-center text-blue-600 dark:text-blue-500 sm:after:content-[''] after:w-full after:h-1 after:border-b after:border-gray-200 after:border-1 after:hidden sm:after:inline-block after:mx-6 xl:after:mx-10 dark:after:border-gray-700"
        >
          <span
            class="flex min-w-fit items-center after:content-['/'] sm:after:hidden after:mx-2 after:text-gray-200 dark:after:text-gray-500"
          >
            <svg
              *ngIf="i < currentStep"
              class="w-3.5 h-3.5 sm:w-4 sm:h-4 me-2.5"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="currentColor"
              viewBox="0 0 20 20"
            >
              <path
                d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"
              />
            </svg>
            <!-- else -->
            <span class="me-2" *ngIf="i >= currentStep">
              {{ i + 1 }}
            </span>
            {{ step.category }}
          </span>
        </li>
      </ol> 

      <!-- Form -->
      <form [formGroup]="dynamicForm" (ngSubmit)="onSubmit()" class="bg-slate-50 w-full p-3">
        <!-- Steps/Categories -->
        <div *ngFor="let step of steps; let i = index">
          <div *ngIf="i === currentStep" class="row  ">
            <div *ngFor="let field of step.fields" class="mb-4 " [ngClass]="{
              'col-6': field.col === 6,
              'col-4': field.col === 4,
              'col-3': field.col === 3,
              'col-2': field.col === 2,
              'col-1': field.col === 1
            }">
              <label
                *ngIf="field.label"
                class="block mb-1 text-sm font-medium text-gray-700 dark:text-gray-300"
                >{{ field.label }}</label
              >
              <!-- Input Fields -->
              <ng-container [ngSwitch]="field.type">
                <input
                  *ngSwitchCase="'text'"
                  [type]="field.type"
                  [formControlName]="field.name"
                  [placeholder]="field.placeholder"
                  class="border p-2 rounded w-full field.class"
                />
                <input
                  *ngSwitchCase="'number'"
                  [type]="field.type"
                  [formControlName]="field.name"
                  [placeholder]="field.placeholder"
                  class="border p-2 rounded w-full"
                />
                <input
                  *ngSwitchCase="'email'"
                  [type]="field.type"
                  [formControlName]="field.name"
                  [placeholder]="field.placeholder"
                  class="border p-2 rounded w-full"
                />
                <textarea
                  *ngSwitchCase="'textarea'"
                  [formControlName]="field.name"
                  [placeholder]="field.placeholder"
                  class="border p-2 rounded w-full"
                ></textarea>
                <select
                  *ngSwitchCase="'select'"
                  [formControlName]="field.name"
                  class="border p-2 rounded w-full"
                >
                  <option
                    *ngFor="let option of getOptions(field.options)"
                    [value]="option"
                  >
                    {{ option }}
                  </option>
                </select>
                <div
                  *ngSwitchCase="'radio'"
                  class="flex items-center space-x-4"
                >
                  <div *ngFor="let option of field.options">
                    <label class="inline-flex items-center">
                      <input
                        type="radio"
                        [formControlName]="field.name"
                        [value]="option"
                        class="form-radio"
                      />
                      <span class="ml-2">{{ option }}</span>
                    </label>
                  </div>
                </div>
                <input
                  *ngSwitchCase="'checkbox'"
                  type="checkbox"
                  [formControlName]="field.name"
                  class="form-checkbox"
                />
                <input
                  *ngSwitchCase="'date'"
                  type="date"
                  [formControlName]="field.name"
                  [placeholder]="field.placeholder"
                  class="border p-2 rounded w-full"
                />
              </ng-container>

              <!-- Error Handling -->
              <div
                *ngIf="
                  dynamicForm.get(field.name)?.invalid &&
                  dynamicForm.get(field.name)?.touched
                "
                class="text-red-500 text-sm mt-1"
              >
                <small *ngIf="getErrrorMessage(field.name)">{{
                  getErrrorMessage(field.name)
                }}</small>
              </div>
            </div>
          </div>
        </div>

        <!-- Navigation Buttons -->
        <div class="flex justify-between mt-4">
          <button
            type="button"
            class="bg-gray-200 px-4 py-2 rounded"
            (click)="previousStep()"
            [disabled]="currentStep === 0"
          >
            Back
          </button>
          <button
            type="button"
            class="bg-blue-600 text-white px-4 py-2 rounded"
            (click)="nextStep()"
            [disabled]="!isStepComplete(currentStep)"
            *ngIf="currentStep < steps.length - 1"
            [ngClass]="{
              'bg-gray-200': !isStepComplete(currentStep)
            }"
          >
            Next
          </button>
          <button
            type="submit"
            class="bg-green-600 text-white px-4 py-2 rounded"
            [disabled]="!dynamicForm.valid"
            *ngIf="currentStep === steps.length - 1"
          >
            Submit
          </button>
        </div>
      </form>
    </div>
  </div>
</section>
