<div class="px-6 py-10 mx-4 md:mx-8 xl:mx-20">
	<div class="lg:-mx-6 lg:flex lg:items-center">
		<div class="lg:w-1/2 lg:px-6">
			<p tabindex="0" role="heading" aria-label="Login to your account"
				class="text-xl font-bold text-left leading-6 text-primary-blue uppercase">Reset Passsword</p>

			<div class="mt-8">
				<div class="text-sm font-medium leading-none text-gray-800">Current password</div>
				<input aria-label="enter current password" role="input" type="password"
					class="border rounded focus:outline-none text-xs font-medium leading-none text-gray-800 py-3 w-full pl-3 mt-2" />
			</div>
			<div class="mt-6 w-full">
				<div class="text-sm font-medium leading-none text-gray-800"> New password </div>
				<div class="relative flex items-center justify-center">
					<input aria-label="enter new password" role="input" type="password"
						class="border rounded focus:outline-none text-xs font-medium leading-none text-gray-800 py-3 w-full pl-3 mt-2" />
				</div>
			</div>
			<div class="mt-6">
				<button role="button" aria-label="create my account"
					class="focus:ring-2 focus:ring-offset-2 focus:ring-secondary-blue text-sm font-semibold uppercase leading-none text-white focus:outline-none bg-primary-blue border rounded hover:bg-secondary-blue py-4 w-full">Reset</button>
			</div>
		</div>
		<div></div>
	</div>
</div>