<section class="container mx-auto bg-white dark:bg-gray-900 mb-10">
    <div class="py-10">
        <div
            tabindex="0"
            role="heading"
            class="pb-6 border-b text-xl font-bold text-left leading-6 text-primary-blue uppercase lg:px-0 px-6"
        >
            Send Money
        </div>
        <div class="lg:flex mt-12 lg:px-0 px-6">
            <div class="lg:w-1/2">
                <form [formGroup]="sendMoneyForm" (ngSubmit)="onSubmit()"  class="send-money-form">
                    <div class="">
                        <label htmlFor="beneficiary_select" class="text-sm font-medium leading-none text-gray-800">
                            Select From Beneficiary
                        </label>
                        <select
                            class="border rounded focus:outline-none text-xs font-medium leading-none text-gray-800 py-3 w-full pl-3 mt-2"
                            name="beneficiary_select"
                            id="beneficiary_select"
                            (change)="onBeneficiarySelectChange($event)"
                        >
                            <option value="">Select Beneficiary Account</option>
                            <option *ngFor="let beneficiary of beneficiaryList" [value]="beneficiary.beneficiaryAccountId">
                                Account Number : {{ beneficiary.beneficiaryAccountId }}
                              </option>
                        </select>
                    </div>
                    <div class="mt-8">
                        <label htmlFor="toAccountId" class="text-sm font-medium leading-none text-gray-800">
                            To Account Number
                        </label>
                        <input
                            aria-label="enter to account number"
                            role="input"
                            type="number"
                            class="border rounded focus:outline-none text-xs font-medium leading-none text-gray-800 py-3 w-full pl-3 mt-2"
                            id="toAccountId"
                            name="toAccountId"
                            formControlName="toAccountId"
                        />
                        <div class="error-message" *ngIf="getFormControlError('toAccountId')">{{ getFormControlError('toAccountId') }}</div>
                    </div>
                    <div class="mt-6 w-full">
                        <label htmlFor="transferAmount" class="text-sm font-medium leading-none text-gray-800">
                            Amount ($)
                        </label>
                        <div class="relative flex items-center justify-center">
                            <input
                                aria-label="enter amount" 
                                role="input" 
                                type="number"
                                class="border rounded focus:outline-none text-xs font-medium leading-none text-gray-800 py-3 w-full pl-3 mt-2"
                                id="transferAmount"
                                name="transferAmount"
                                formControlName="transferAmount"
                            />
                           
                        </div>
                        <div class="error-message" *ngIf="getFormControlError('transferAmount')">{{ getFormControlError('transferAmount') }}</div>

                    </div>
                    <div class="mt-6">
                        <button
                            aria-label="create my account"
                            class="focus:ring-2 focus:ring-offset-2 focus:ring-secondary-blue text-sm font-semibold uppercase leading-none text-white focus:outline-none bg-primary-blue border rounded hover:bg-secondary-blue py-3 w-full disabled:opacity-25"
                            type="submit"
                            [disabled]="!sendMoneyForm.valid"
                        >
                            Send
                        </button>
                    </div>
                </form>
            </div>
            <img class="object-cover object-center lg:w-1/2 lg:mx-6 w-full mt-8 lg:mt-0 h-96 rounded-lg lg:h-[20rem]"
                src="../../assets/send-money-bg2.jpg" alt="">
        </div>
    </div>
</section>