/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~bootstrap-icons/font/bootstrap-icons.css";
@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'ngx-toastr/toastr';


:root {
    --duet-color-primary: #005fcc;
    --duet-color-text: #333;
    --duet-color-text-active: #fff;
    --duet-color-placeholder: #666;
    --duet-color-button: #f5f5f5;
    --duet-color-surface: #fff;
    --duet-color-overlay: rgba(0, 0, 0, 0.8);
    --duet-color-border: #333;
  
    --duet-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    --duet-font-normal: 400;
    --duet-font-bold: 600;
  
    --duet-radius: 4px;
    --duet-z-index: 600;
  }

 .error-message {
   color: red;
 }

 
  .dp-date-wrapper {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 72px);
    overflow: hidden;
    margin: 0 -20px;
    padding: 0 20px;

    .dp-date-input-container {
      min-height: 85px;
      display: flex;
      justify-content: center;
      padding: 20px 0;
      background: white;
      z-index: 10;

      &.dp-inline {
        min-height: 360px;
      }

      .dp-form-item {
        display: flex;
        flex-direction: column;

        .dp-validations {
          color: red;
          font-size: 12px;
        }
      }
    }

    .dp-config-form {
      display: block;
      flex: 1;
      overflow: auto;
      margin: 0 -20px;
      padding: 0 20px;
      margin-bottom: 120px;
    }
  }

  .top-bar .dropdown-menu {
    min-width: 0px;
    width: 150px;
    inset: 0px auto auto -50px !important;
  }