<section class="container mx-auto bg-white dark:bg-gray-900 mb-10">
  <div class="py-10">
    <div
      class="pb-6 border-b text-xl font-bold text-left leading-6 text-primary-blue uppercase lg:px-0 px-6"
    >
      Transaction History
    </div>
    <div class="relative sm:rounded-lg mt-12 lg:px-0 px-6">
      <div class="lg:flex items-center justify-between mb-8">
        <div class="lg:flex">
          <!--
          <div class="flex justify-between lg:flex-none">
            <select
              class="items-center h-10 text-gray-500 bg-white border border-gray-300 focus:outline-none focus:ring-1 focus:ring-gray-200 font-medium rounded-lg text-sm px-3 py-1.5 dark:bg-gray-800 dark:text-gray-500 dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700"
              name="time_select"
              id="time_select"
              (change)="onDateSelectChange($event)"
              onclick="ToggleEvent"
            >
              <option value="7">Last 7 days</option>
              <option value="30">Last 30 days</option>
              <option value="183">Last 6 Month</option>
              <option value="365">Last year</option>
            </select>
          </div>-->

          <label
            for="fromDate"
            class="pt-1 block text-sm font-semibold leading-6 text-gray-900"
          >
            From Date
          </label>
          <input
            id="fromDateSearch"
            autocomplete="off"
            class="lg:ml-2 h-10 border rounded focus:outline-none text-xs font-medium leading-none text-gray-800 py-1 pl-3"
            ngbDatepicker
            #df="ngbDatepicker"
            name="fromDateSearch"
            [(ngModel)]="fromDateSearch"
            (click)="df.toggle()"
            [maxDate]="todayDate"
          />
          <label
            for="toDate"
            class="lg:ml-6 pt-1 block text-sm font-semibold leading-6 text-gray-900"
          >
            To Date
          </label>
          <input
            id="toDateSearch"
            autocomplete="off"
            class="lg:ml-2 h-10 border rounded focus:outline-none text-xs font-medium leading-none text-gray-800 py-1 pl-3"
            ngbDatepicker
            #dt="ngbDatepicker"
            name="toDateSearch"
            [(ngModel)]="toDateSearch"
            (click)="dt.toggle()"
            [maxDate]="todayDate"
          />
          <div>
            <button
              class="lg:ml-2 h-10 items-center text-gray-500 bg-white border border-gray-300 focus:outline-none focus:ring-1 focus:ring-gray-200 font-medium rounded-lg text-sm px-3 py-1.5 dark:bg-gray-800 dark:text-gray-500 dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700"
              (click)="searchDateFilter()"
              id="search"
            >
              Search
            </button>
          </div>
        </div>
        <button
          class="lg:block h-10 hidden items-center text-gray-500 bg-white border border-gray-300 focus:outline-none focus:ring-1 focus:ring-gray-200 font-medium rounded-lg text-sm px-3 py-1.5 dark:bg-gray-800 dark:text-gray-500 dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700"
          id="export"
          (click)="exportToCsv()"
        >
          Export To Csv
        </button>
      </div>
      <div
        *ngIf="transactionsList && transactionsList.length > 0; else elseBlock"
      >
        <table
          datatable
          class="w-full text-sm text-left text-gray-500 dark:text-gray-500"
        >
          <thead
            class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-50 dark:text-gray-700"
          >
            <tr>
              <th scope="col" class="p-4">
                <div class="flex items-center">
                  <input
                    id="checkbox-all-search"
                    type="checkbox"
                    class="w-4 h-4 text-blue-600 bg-cool-gray border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
                  />
                  <label for="checkbox-all-search" class="sr-only"
                    >checkbox</label
                  >
                </div>
              </th>
              <th scope="col" class="px-6 py-3">Transaction ID</th>
              <th scope="col" class="px-6 py-3">Transaction Date Time</th>
              <th scope="col" class="px-6 py-3">From Account Id</th>
              <th scope="col" class="px-6 py-3">To Account Id</th>
              <th scope="col" class="px-6 py-3">Amount</th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="let transaction of transactionsList; let i = index"
              [id]="i"
              class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600"
            >
              <td class="w-4 p-4">
                <div class="flex items-center">
                  <input
                    id="checkbox-table-search-3"
                    type="checkbox"
                    class="w-4 h-4 text-blue-600 bg-cool-gray border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
                  />
                  <label for="checkbox-table-search-3" class="sr-only"
                    >checkbox</label
                  >
                </div>
              </td>
              <td
                scope="row"
                class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-gray-900"
              >
                {{ transaction.transactionId }}
              </td>
              <td class="px-6 py-4">
                {{ transaction.dateCreated }}
              </td>
              <td class="px-6 py-4">
                {{ transaction.fromAccountId }}
              </td>
              <td class="px-6 py-4">
                {{ transaction.toAccountId }}
              </td>
              <td class="px-6 py-4">${{ transaction.transferAmount }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <ng-template #elseBlock>
        <div
          class="text-primary-blue uppercase font-bold text-center text-base"
        >
          No Transactions
        </div>
      </ng-template>
    </div>
  </div>
</section>
